@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0 10px;
  }
  .header .header__nav ul {
    justify-content: space-around;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
    padding: 0 10px;
  }
  .main .main__wrapper img {
      position: absolute;
      width: 350px;
      height: 350px;
      left: 536px;
      top: -16px;
  }
  .header .header__nav ul {
    justify-content: space-around;
  }
  .header__nav ul a li {
    font-size: 30px;
  }

  .main__text {
    width: 400px;
  }

  .forme .forme__slider {
    width: 400px;
  }
}





@media (max-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 10px;
  }
  .header__nav ul a li {
    font-size: 24px;
  }

  .home .main {
    padding: 30px 0 12px 0;
  }

  .main .main__wrapper h1 {
    font-size: 35px;
  }

  .main .main__text {
    margin-top: 20px;
    width: 300px;
  }

  .main .main__wrapper img {
    width: 250px;
    height: 250px;
    left: 406px;

  }

  .main a .btn {
    margin-left: 100px;
  }

  .forme .forme__wrapper {
    flex-direction: column;
  }

  .forme .forme__slider {
    margin: 0 auto;
  }

  .forme .forme__descr {
    text-align: center;
  }

  .contacts h2 {
    text-align: center;
  }
  .contacts .contacts__text {
    margin-top: 10px;;
    width: 682px;
  }
  .contacts .contacts__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 113px;
    margin-top: 20px;
  }


}




@media (max-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0 10px;

  }

  .header__nav ul a li {
    font-size: 15px;
  }

  .main .main__wrapper h1 {
    font-size: 25px;
  }

  .main .main__wrapper h1 span {
    font-size: 25px;
  }

  .main .main__text {
    margin-top: 20px;
    width: 260px;
  }

  .main .main__wrapper img {
    width: 200px;
    height: 200px;
    left: 285px;
    top: 57px;

  }

  .main a .btn {
    margin-left: 100px;
  }

  .contacts .contacts__text {
    margin: 0 auto;
    margin-top: 20px;
    width: 450px;
  }



}




@media (max-width: 380px) {
  .container {
    max-width: 320px;
    padding: 0 10px;

  }

  .header {
    display: none;
  }

  .header__nav ul a li {
    font-size: 8px;
  }

  .container .main {
    padding-top: 75px;
  }

  .main .main__wrapper {
    width: 100%;
  }

  .main .main__wrapper h1 {
    width: 50%;
    text-align: left;
    line-height: 37px;
    font-size: 20px;

  }

  .main .main__wrapper h1 span {
    font-size: 22px;
  }

  .main .main__text {
    text-align: center;
    margin-top: 60px;
    width: 100%;
    line-height: 27px;
  }

  .main .main__wrapper img {
    width: 130px;
    height: 130px;
    left: 146px;
    top: -15px;

  }

  .main a .btn {
    margin: 0 auto;
    margin-top: 20px;
  }

  .contacts .contacts__text {
    margin: 0 auto;
    margin-top: 20px;
    width: 450px;
  }

  


  .container .home {
    height: 306px;
  }

  .footer .footer__wrapper ul {
    justify-content: space-between;
  }

  .footer .footer__wrapper ul li {
    margin-left: 0;
  }

  .footer .footer__wrapper ul a li img {
    width: 30px;
    height: 30px;
  }

  .forme .forme__slider {
    width: 300px;
  }

  .forme .forme__list {
    font-size: 18px;
    text-align: left;
  }

  .contacts h2 {
    margin-top: 40px;
  }

  .contacts .contacts__text {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
  }

  .contacts .contacts__item {
    margin-left: 0;

  }

  .App .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    top: 16px;
    right: 41px;
}

.price .price__descr {
  margin-top: 50px;
  text-align: center;
}


}