.btn {
  margin-top: 10px;
  width: 300px;
  height: 35px;
  border-radius: 25px;
  background: #a1dfe7;
  box-shadow: 0px 7px 17px -10px rgba(32, 84, 219, 0.35);
  cursor: pointer;
  font-size: 20px;
  &:hover {
    background: #266267;
  }
}