.main {
  padding: 30px 0 30px 0;
  &__wrapper {
    position: relative;
    width: 518px;
    text-align: justify;
    img {
      position: absolute;
      width: 400px;
      height: 400px;
      left: 642px;
      top: -16px;
      transform: rotate(12deg);
    }

  }
  h1 {
    font-size: 45px;
    color: #9662bd;
    line-height: 60px;
    letter-spacing: 4px;
    span {
      font-size: 45px;
    }
  }
  &__text {
    margin-top: 10px;
    font-size: 18px;
  }

  a{
    text-decoration: none;
  }
}

