.main {
  padding: 40px 0;
  &__wrapper {
    width: 518px;
    text-align: justify;
    img {
      position: absolute;
      width: 400px;
      height: 400px;
      left: 671px;
      top: 136px;
      transform: rotate(12deg);
    }

  }
  h1 {
    font-size: 45px;
    color: #9662bd;
    line-height: 60px;
    letter-spacing: 4px;
    span {
      font-size: 45px;
    }
  }
  &__text {
    margin-top: 10px;
    font-size: 18px;
  }
}