

@font-face {
    font-family: 'Mono';
    /*src: url("assets/fonts/HelveticaNeueCyr-Black.woff") format("woff");*/
    /*src: url("assets/fonts/HelveticaNeueCyr-Bold.woff");*/
    /*src: url("assets/fonts/HelveticaNeueCyr-Heavy.woff");*/
    src: url("assets/fonts/HelveticaNeueCyr-Light.woff") format("woff");
    /*src: url("assets/fonts/HelveticaNeueCyr-Medium.woff");*/
    /*src: url("assets/fonts/HelveticaNeueCyr-Roman.woff");*/
    /*src: url("assets/fonts/HelveticaNeueCyr-Thin.woff");*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Mono;
}


.container {
    width: 1140px;
    margin: 0 auto;
    
}

@import './sass/media.scss';




